body {
   color: rgb(45, 49, 45);
   background-color: #22222218;
}

.stButton>button {
   width: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(255, 255, 255);
   color: rgb(38, 39, 48);
   padding: .25rem .75rem;
   position: relative;
   text-decoration: none;
   border-radius: 4px;
   border-width: 1px;
   border-style: solid;
   border-color: aquamarine;
   border-image: initial;
}

.stButton>button:hover {
   border-color: rgb(246, 51, 102);
   color: rgb(246, 51, 102);
}

.stButton>button:active{
   box-shadow: none;
   background-color: rgb(246, 51, 102);
   color: white;
}
